@import "../variables.scss";

.right-menu {
  margin-right: 10px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $base-400-color;
  height: 100%;

  .header {
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    // padding: 10px 10px 30px 10px;

    &-text {
      font-size: xx-large;
      font-weight: bold;
      // margin-bottom: 30px;
    }

    a {
      font-size: medium;
    }
  }
}

.number-box {
  width: 50px;
}
.control-group {
  margin: 10px;
}
