<div fxLayout="row" fxLayoutAlign="start stretch">

  <!-- right menu -->
  <div class="right-menu" fxFlex="none">
    <!-- header -->
    <div class="header">
      <div class="header-text">
        Game Of life
        <div>
          <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">
            @Wikipedia
          </a>
        </div>
      </div>
    </div>

    <!-- controls -->
    <div>
      <div class="control-group">
        <button (click)="next()" *ngIf="!inPlayMode"> Next </button>
        <button (click)="play()" *ngIf="!inPlayMode"> Auto Play </button>
        <button (click)="pause()" *ngIf="inPlayMode"> Pause </button>
      </div>

      <div class="control-group">
        <button (click)="drawGlider()"> Reset to Glider pattern </button>
      </div>

      <div class="control-group">
        <input [(ngModel)]="patternName" placeholder="Name your pattern" />
        <button (click)="save()"> Save pattern </button>
      </div>

      <div class="control-group">
        <span> Height </span>
        <input [(ngModel)]="rows" placeholder="Rows Count" type="number" min="3" max="40" class="number-box" />

        <span> Width </span>
        <input [(ngModel)]="cols" placeholder="Columns Count" type="number" min="3" max="40" class="number-box" />
        <button (click)="setGridSize()"> Change Grid Size</button>
      </div>
    </div>

    <div class="control-group">
      <gol-pattern-list></gol-pattern-list>
    </div>
  </div>

  <div>
    <gol-grid>
    </gol-grid>
  </div>
</div>
