<h1>
  Game Of life
</h1>

<button (click)="drawGlider()"> Draw Glider pattern </button>
<button (click)="play()" *ngIf="!inPlayMode"> Play </button>
<button (click)="pause()" *ngIf="inPlayMode"> Pause </button>
<button (click)="next()" *ngIf="!inPlayMode"> Next </button>

<div>
  <input [(ngModel)]="patternName" placeholder="Name your pattern" />
  <button (click)="save()"> Save pattern </button>
</div>

<div>
  <input [(ngModel)]="rows" placeholder="Rows Count" type="number" min="3" max="20" />
  <input [(ngModel)]="cols" placeholder="Columns Count" type="number" min="3" max="20" />
  <button (click)="setGridSize()"> Change Grid Size</button>
</div>

<gol-pattern-list></gol-pattern-list>

<gol-grid>

</gol-grid>
