.cell {
  margin: 2px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 8px;
}
.alive {
  background-color: black;
  color: white;
}
.dead {
  background-color: white;
  color: black;
}
