$base-50-color: #eef2ff;
$base-100-color: #e0e7ff;
$base-200-color: #c7d2fe;
$base-300-color: #a5b4fc;
$base-400-color: #818cf8;
$base-500-color: #6366f1;
$base-600-color: #4f46e5;
$base-700-color: #4338ca;
$base-800-color: #3730a3;
$base-900-color: #312e81;
